/* You can add global styles to this file, and also import other style files */


/* @import '~ngx-toastr/toastr-bs4-alert'; */

@import '~ngx-toastr/toastr';

/* Specific css for <Alert Type> */


/* .alertsContainer .alertsRow.<Alert Type>  {
    border: 1px solid #ffc549;
}
.alertsContainer .alertsRow.<Alert Type> .iconpanel {
    background:#ffc549;
    color: #fff;
}
.alertsContainer .alertsRow.<Alert Type> .messagepanel {
    color: #000;
    background: #fff;
}
.alertsContainer .alertsRow.<Alert Type> .closeicon {
    color: #000;
}
.alertsContainer .alertsRow.<Alert Type> .closeicon a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
} */


/* Specific css for <Alert Type> */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';